[Input]
patient = test
controlBam = /home/edoardo/storage/bam/2.bam
tumoralBam = /home/edoardo/storage/bam/1.bam

[Output]
outputFolder = /mnt/data/edoardo/varscan/try/newImproved/1

[References]
bedFile = /home/edoardo/storage/varscan/program/refs/file.bed
refFile = /home/edoardo/storage/hg19.fa
armRefFile = /home/edoardo/storage/varscan/program/refs/armSize.tsv
annotationFile = /home/edoardo/storage/varscan/program/refs/genesReference.tsv
cancerGenesReference = /home/edoardo/storage/varscan/program/refs/cancerGenes.tsv

[Parameters]
genePercentage = 90
iterations = 100
upperLimit = 0.25
lowerLimit = -0.25
minCoverage = 25


[Analysis]
copyNumber = no
copyCalls = no
mergeCopyCalls = no
coverageFilter = no
mergeSegments = no
annoteSegments = no
geneFilter = no
